:root {
  --sidebarWidth: 208px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: normal;
}

body {
  height: 100%;
}

/* ------ common ------ */
.hide {
  display: none;
}

/* ------ admin ------ */
.app__container {
  display: flex;

  // sidebar
  .sidebar__container {
    flex-shrink: 0;
    width: var(--sidebarWidth);
    min-height: 100vh;
    background-color: pink;

    .sidebar__wrap {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: inherit;
      height: 100%;

      /* 固定 sidebar */
      &.sidebar--fixed {
        position: fixed;
        top: 0;
        left: 0;
      }

      .sidebar__header {
        flex-shrink: 0;
        background-color: rgba(0, 0, 0, 0.2);
      }

      .sidebar__main {
        flex-grow: 1;
        overflow: hidden auto;
      }
    }
  }

  // main
  .main__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .navbar__container {
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
      height: 48px;
      background-color: orange;

      // 固定 navbar
      &.navbar--fixed:not(.hide) {
        position: fixed;
        top: 0;
        right: 0;
        width: calc(100% - var(--sidebarWidth));

        & + .app-main {
          margin-top: 48px;
        }
      }
    }

    .app-main {
      flex-grow: 1;
    }
  }
}
