.sidebar-nav ul > li {
  user-select: none;
  cursor: pointer;
}

.sidebar ul li a {
  border-bottom: none;
  display: inline;
}
.sidebar ul li.active > a {
  border-right: none;
}

.sidebar-nav ul > li.folder::before {
  content: '📁';
}

.sidebar-nav ul > li.folder.open::before {
  content: '📂';
}
.sidebar-nav ul > li.file::before {
  content: '📄';
}
.sidebar-nav ul > li.file.open {
  border-right: 2px solid;
  color: #42b983;
  color: var(--theme-color, #42b983);
  font-weight: 600;
}

.hide-code-mask-btn {
  cursor: pointer;
}
