@import './vars.css';

.tip .custom-block-title::before {
  content: '💡 ';
}
.warning .custom-block-title::before {
  content: '🔔 ';
}
.danger .custom-block-title::before {
  content: '💀 ';
}
.info .custom-block-title::before {
  content: 'ℹ️ ';
}

.index-layout {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px 24px 64px;
}

.group-title {
  margin: 4rem 0 1.8rem;
  border-top: 1px solid var(--vp-c-divider);
  padding-top: 1.8rem;
  font-size: 24px;
  letter-spacing: -0.02em;

  line-height: 1.5;
  font-weight: 600;
}

.group-title:nth-child(1) {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}

.VPSidebarItem.level-0.is-active > .item .link > .text,
.VPSidebarItem.level-1.is-active > .item .link > .text,
.VPSidebarItem.level-2.is-active > .item .link > .text,
.VPSidebarItem.level-3.is-active > .item .link > .text,
.VPSidebarItem.level-4.is-active > .item .link > .text,
.VPSidebarItem.level-5.is-active > .item .link > .text {
  color: var(--vp-c-brand-1);
  font-weight: 700;
}

.vp-doc div[class*='language-'],
.vp-block {
  background-color: #292d3e;
}

.vp-doc [class*='language-'] pre {
  background-color: transparent;
}

.vp-code-group {
  .tabs {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    input:checked + label {
      background-color: #292d3e;
      color: var(--vp-c-text-dark-1);
      border-bottom-color: var(--vp-c-brand);
    }
    label {
      padding: 0 24px;
      background-color: #292d3ef0;
      color: var(--vp-c-text-dark-1);
      border-bottom: 2px solid #ffffff4d;
      user-select: none;
      &:first-of-type {
        border-start-start-radius: 8px;
      }
      &:last-of-type {
        border-start-end-radius: 8px;
      }
      &::after {
        display: none;
      }
    }
  }

  div[class*='language-'],
  .vp-block {
    border-start-end-radius: 8px !important;
  }
}

.card-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
