body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.box1,
.box2,
.box3 {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
}

.box1 {
  background-image: url(../imgs/angular.jpg);
}

.box2 {
  background-image: url(../imgs/react.png);
}

.box3 {
  background-image: url(../imgs/vue.jpg);
}